* {
  margin: 0 auto;
}
 
body {
  width: 100%;
  max-width: 1400px;
  max-height: 700px;
  overflow: hidden;
  border: 1px solid black;
  font-family: arial, helvetica, sans-serif;
  background-image: url('./img/bc.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  width: 100%;
  overflow: hidden;
}

header {
  background-color: #333;
  color: #ffffff;
  padding-top: 10px;
  height: 40px;
  border-bottom: 3px solid red;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 5px;
}

li {
  display: inline;
  padding: 0px 15px 0px 15px;
}

.login {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #36096d;
  background-image: linear-gradient(to bottom, #ff794d 40%, #ffc6b3);
}

#branding {
  float: left;
  font-size: 15px;
  color: white;
  margin-left: 5px;
}

#navbar {
  float: right;
}

h1 {
  margin-top: 1px;
}

.clear {
  clear: both;
}

.image {
  float: left;
  margin-left: 40%;
  margin-top: 5px;
}

.para {
  float: right;
  margin-right: 40%;
  margin-top: 40px;
  font-size: 25px;
}

main {
  clear: both;
}

.box {
  margin-top: 2px;
  border: 1px solid black;
  width: 70%;
}

.backlog {
  margin-top: 100px;
  margin-bottom: -10px;
  width: 30%;
  background-image: linear-gradient(to bottom, #ff794d 40%, #ffc6b3);
  border-radius: 20px;
  height: 400px;
}

.buttonlogin {
  float: right;
  margin-right: 20px;
  margin-top: 0px;
  font-size: 15px;
}

.remember {
  margin-left: 40px;
}

.forgot {
  float: left;
  margin-left: 15px;
}

.info {
  width: 75%;
}

.space {
  width: 100%;
}

.center {
  width: 55%
}

.terms {
  width: 79%
}

.terms2 {
  width: 32%;
}

.login {
  border-radius: 3px;
}

.blue {
  color: blue;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  max-height: 60px;
}

img {
  float: left;
}

.h2 {
  float: left;
  margin-left: 20px;
}

#label {
  width: 45%;
  float: right;
  text-align: center;
}

#copyright {
  text-align: center;
}
