*{
  /*border: 1px solid black;*/
}

body{
  font: 16px/1.6em arial, helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container2{
  width: 65%;
  margin: auto;
  overflow: hidden;
}
header{
  background: #333;
  color: #ffffff;
  padding-top: 30px;
  min-height: 60px;
  border-bottom: 3px solid red;
}
#navbar a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

#navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#navbar li{
  display: inline;
  padding: 0px 15px 0px 15px;
}

#navbar li a:not(#login-btn):hover{
  font-weight: bold;
}

#navbar li #login-btn:hover{
  background-color: #999;
  color: #fff;
}

#navbar #login-btn{
  color: black;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#navbar li #current-page{
  color: red;
}

header #navbar{
  float: right;
}

header #branding{
  float: left;
  padding-bottom: 15px;
}

header #branding h1{
  margin: 0;
}

.clear{
  clear: both;
}

#showcase{
  background-image: url(../img/showcase.png);
  background-position: center center;
  min-height: 400px;
  margin-bottom: 30px;
}

#showcase h1{
  color: #ffffff;
  font-size: 50px;
  line-height: 1.2em;
}

#showcase{
  color: #ffffff;
  font-size: 25px;
}

#showcase-para{
  display: block;
  float: left;
  margin-right: 35%;
}

.img-box img{
  float: left;
  width: 25%;
  padding: 0 px 20px;;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.para-box{
  float: right;
  width: 75%;
  border-bottom: 1px solid black;
  margin: 0;
  margin-bottom: 20px;
}

.para-box a{
  float: right;
  text-decoration: none;
  color: #EE0000;
}

.para-box a:visited{
  color: #551A8B;
  font-size: 25px;
}

footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer img{
  width: 70px;
  float: left;
}

footer h2{
  float: left;
  margin-left: 20px;
}

.footer-label{
  width: 20%;
  float: right;
}

.footer-label p{
  text-align: right;
}

footer #copyright{
  text-align: center;
}

@media (max-width: 1440px) {

  header, header #branding, header #navbar, #navbar li{
    float: none;
    text-align: center;
    width: 100%;
  }

  #navbar li{
    padding: 0px 5px;
  }

  #navbar li #login-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
  }

  #showcase h1{
    text-align: center;
  }

  #showcase-para{
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .img-box img{
    float: none;
    display: block;
    wdith: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .para-box{
    float: none;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  .para-box a{
    float: none;
  }

  .footer-label{
    width: 30%;
  }
}
